<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysApiMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysApi">
                <result column="id" property="id" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="notes" property="notes" />
                    <result column="method" property="method" />
                    <result column="class_name" property="className" />
                    <result column="method_name" property="methodName" />
                    <result column="path" property="path" />
                    <result column="content_type" property="contentType" />
                    <result column="service_id" property="serviceId" />
                    <result column="status" property="status" />
                    <result column="auth" property="auth" />
                    <result column="create_by" property="createBy" />
                    <result column="update_by" property="updateBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
                    <result column="is_deleted" property="isDeleted" />
                    <result column="tenant_id" property="tenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                    id,
                code, name, notes, method, class_name, method_name, path, content_type, service_id, status, auth, create_by, update_by, create_time, update_time, is_deleted, tenant_id
        </sql>

</mapper>
