<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysLog">
    <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="trace_id" property="traceId" />
        <result column="title" property="title" />
        <result column="operation" property="operation" />
        <result column="method" property="method" />
        <result column="params" property="params" />
        <result column="ip" property="ip" />
        <result column="time" property="time" />
        <result column="location" property="location" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        type, trace_id, title, operation, method, params, ip, time, location, create_by, update_by, create_time, update_time, is_deleted, tenant_id
    </sql>

</mapper>
