*.class

# Package Files #
*.jar
*.war
*.ear
target/

# 防提交docker本地生成文件 #
doc/deploy/docker-standalone/mysql
doc/deploy/docker-standalone/nacos

# eclipse
.settings/
.classpath
.project
logs/
temp/

# idea
.idea/
*.iml

*velocity.log*

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

*.log
tmp/
