<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.Client">
    <result column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="client_secret" property="clientSecret" />
        <result column="resource_ids" property="resourceIds" />
        <result column="scope" property="scope" />
        <result column="authorized_grant_types" property="authorizedGrantTypes" />
        <result column="web_server_redirect_uri" property="webServerRedirectUri" />
        <result column="authorities" property="authorities" />
        <result column="access_token_validity" property="accessTokenValidity" />
        <result column="refresh_token_validity" property="refreshTokenValidity" />
        <result column="additional_information" property="additionalInformation" />
        <result column="autoapprove" property="autoapprove" />
        <result column="create_user" property="createUser" />
        <result column="create_dept" property="createDept" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        client_id, client_secret, resource_ids, scope, authorized_grant_types, web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove, create_user, create_dept, create_time, update_user, update_time, status, is_deleted
    </sql>

</mapper>
