package ${packageName}.mapper;

import java.util.List;
import java.util.Map;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;
import ${packageName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper  extends BaseMapper<${ClassName}>
{

    /**
     * 查询${functionName}列表
     *
     * @param query
     * @return ${functionName}集合
     */
    List<${ClassName}> select${ClassName}List(@Param("params") Map<String, String> query);

    /**
     * 查询${functionName}分页列表
     *
     * @param query
     * @return ${functionName}集合
     */
    IPage<${ClassName}> select${ClassName}List(Page<${ClassName}> page,@Param("params") Map<String, String> query);
}
