<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.code.mapper.SysDataSourceMapper">

    <resultMap id="mapperNodeResultMap" type="vip.mate.code.vip.mate.core.mongodb.vo.SysDataSourceVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="optionList" resultMap="mapperNodeResultMap">
        select id, name from mate_sys_data_source where is_deleted = 0
    </select>
</mapper>
