<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.code.mapper.TableMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="vip.mate.code.entity.Table">
                <result column="id" property="id" />
                    <result column="name" property="name" />
                    <result column="comment" property="comment" />
                    <result column="class_name" property="className" />
                    <result column="prefix" property="prefix" />
                    <result column="template" property="template" />
                    <result column="package_name" property="packageName" />
                    <result column="authority_name" property="authorityName" />
                    <result column="module_name" property="moduleName" />
                    <result column="business_name" property="businessName" />
                    <result column="function_name" property="functionName" />
                    <result column="author" property="author" />
                    <result column="gen_type" property="genType" />
                    <result column="gen_path" property="genPath" />
                    <result column="ui_path" property="uiPath" />
                    <result column="options" property="options" />
                    <result column="remark" property="remark" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                    id,
                name, comment, class_name, prefix, template, package_name, authority_name, module_name, business_name, function_name, author, gen_type, gen_path, ui_path, options, remark, create_by, create_time, update_by, update_time
        </sql>

</mapper>
