<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">
    
    <resultMap type="${packageName}.domain.${ClassName}" id="${ClassName}Result">
#foreach ($column in $columns)
        <result property="${column.javaField}"    column="${column.columnName}"    />
#end
    </resultMap>
#if($table.sub)

    <resultMap id="${ClassName}${subClassName}Result" type="${packageName}.domain.${ClassName}" extends="${ClassName}Result">
        <collection property="${subclassName}List" notNullColumn="${subTable.pkColumn.columnName}" javaType="java.util.List" resultMap="${subClassName}Result" />
    </resultMap>

    <resultMap type="${packageName}.domain.${subClassName}" id="${subClassName}Result">
#foreach ($column in $subTable.columns)
        <result property="${column.javaField}"    column="${column.columnName}"    />
#end
    </resultMap>
#end

    <sql id="select${ClassName}Vo">
        select#foreach($column in $columns) $column.columnName#if($velocityCount != $columns.size()),#end#end from ${tableName}
    </sql>


    <select id="select${ClassName}List" parameterType="${packageName}.domain.${ClassName}" resultMap="${ClassName}Result">
        <include refid="select${ClassName}Vo"/>
        <where>
            #foreach($column in $columns)
                #set($queryType=$column.queryType)
                #set($javaField=$column.javaField)
                #set($javaType=$column.javaType)
                #set($columnName=$column.columnName)
                #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #if($column.query)
                    #if($column.queryType == "EQ")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName = #{params.$javaField}</if>
                    #elseif($queryType == "NE")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName != #{params.$javaField}</if>
                    #elseif($queryType == "GT")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName &gt; #{params.$javaField}</if>
                    #elseif($queryType == "GTE")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName &gt;= #{params.$javaField}</if>
                    #elseif($queryType == "LT")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName &lt; #{params.$javaField}</if>
                    #elseif($queryType == "LTE")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName &lt;= #{params.$javaField}</if>
                    #elseif($queryType == "LIKE")
                        <if test="params.$javaField != null #if($javaType == 'String' ) and params.$javaField.trim() != ''#end"> and $columnName like concat('%', #{params.$javaField}, '%')</if>
                    #elseif($queryType == "BETWEEN")
                        <if test="params.begin$AttrName != null and params.begin$AttrName != '' and params.end$AttrName != null and params.end$AttrName != ''"> and $columnName between #{params.begin$AttrName} and #{params.end$AttrName}</if>
                    #end
                #end
            #end
        </where>
    </select>

</mapper>